<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Formulario</title>
</head>
<body>
    <form action="/saludo" method="post">
        <label for="dni">dni:</label>
        <input type="text" id="dni" name="dni">
        <label for="usuario">Usuario:</label>   
         <input type="text" id="usuario" name="usuario">
        <label for="contrasenna">Contraseña </label>
        
       
        <input type="password" name="contrasenna" >
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
